.grilla-banderas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bandera {
    width: 40%;
}
.btn-secondary {
    background-color: rgb(57, 133, 133);
    margin-left: 37%;
    margin-top: 5%;
}
