@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
}

//nav//
.colorverdenav {
    background-color: rgb(57, 133, 133);
}

a {
    padding: 5%;
    margin: 5%;
}

//body//
body {
    background-color: rgb(245, 234, 222);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}