@mixin formato ($size, $color){
    font-size: $size;
    color: $color;
}

p{
    @include formato (15px, black,);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-align: start;
    line-height: 40px;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1% ;

    @media (min-width: 500px) {
            text-align: center;
            color: maroon;
        }
    @media (min-width: 768px) {
            font-weight: bold;
            line-height: 60px;
            letter-spacing: 5px;
            word-spacing: 7px;
            text-transform: uppercase;
        }
}


h1{
    @include formato (25px,rgb(57, 133, 133));
    letter-spacing: 5px;
    padding: 15px;
    margin-top:5%;
}

h2{
    @include formato (20px, rgb(57, 133, 133));
    text-transform: uppercase;
    line-height: 40px;
    padding: 15px;
    margin-top: 3%;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
