@import "generales";
@import "textos";
@import "index";
@import "preguntas";
@import "servicios";
@import "ciudadanias";
@import "contacto";
@import "footer";




/* breakpoint */
@media (min-width: 500px) {
    p {
        text-align: center;
    }

    .bandera {
        border: 5px solid rgb(57, 133, 133);
        margin-left: 20%;
        margin-right: 10%;
        gap: 10%;
        width: 60%;
    }

    .grilla-banderas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.btn-secondary {
    background-color: rgb(57, 133, 133);
    margin-left: 40%;
    margin-top: 10%;
}
/* breakpoint */

@media (min-width: 768px) {
    p {
        font-weight: bold;
        font-size: 15px;
        line-height: 60px;
        letter-spacing: 5px;
        word-spacing: 7px;
        text-transform: uppercase;
        color: maroon;
    }

    .bandera {
        width: 70%;
    }
    .btn-secondary {
        background-color: rgb(57, 133, 133);
        margin-left: 47%;
        margin-top: 10%;
    }
    .video {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }
}

/* breakpoint */
@media (min-width: 1024px) {

    .grilla-banderas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 20%;
        margin-left: 15%;
        margin-bottom: 5%;
    }

    .btn-secondary {
        background-color: rgb(57, 133, 133);
        margin-left: 40%;
        margin-top: 20%;
    }

    .bandera {
        border: none;
        padding: 5%;
        margin-top: 10%;
    }
    
    .video {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }

    .img_mapa {
        border: 3px solid rgb(57, 133, 133);
        width: 60%;
    }

    .bandera:hover {
        transform: scale(2);
        transition-duration: 3s;
    }

    .testimonios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .testimonios-caja {
        width: 90%;
        height: 350px;
    }

    a {
        padding: 100px;
        margin: 60px;
    }
}